@font-face {
	font-family: "DM Sans";
	src: url('../assets/DMSans-VariableFont_opsz\,wght.ttf');
}

:root {
  --font-size__title: min(8vw, 3rem);
  --font-size__header: min(4.5vw, 1rem);
  --font-size__text: min(5vw, 0.8rem);
  --font-size__icon: min(6vw, 1rem);
  --font-size__button: min(5vw, 1rem);
}

body {
  margin: 0;
  font-family: "DM Sans", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f4f8;
  padding: 0;
  width: 100%;
  display: flex;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
} 

code {
  font-family: "DM Sans", source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}